.datetime-picker .calendar
  .day
    display: table-cell
    width: 2em
    padding: 2px 4px 2px 2px
    color: rgba(68, 85, 102, 0.4)
    text-align: right
    &:hover
      padding: 1px 3px 1px 1px
      border: 1px solid #bbb
      background: #DEF
    &.selected
      padding: 1px 3px 1px 1px
      border: 1px solid #000
      colors()
      font-weight: bold
    &.currentMonth
      color: rgb(68, 85, 102)