colors(bg = #FFF, clr = #000)
  background-color: bg
  color: clr

cal-base()
  border: 1px solid #556
  cursor: default
  font-family: Tahoma, Verdana, sans-serif
  font-size: 11px

@import 'date-picker'
@import 'time-picker'