.datetime-picker .timerow
  padding: 5px 0
  border-top: 1px solid #000
  text-align: center
  background-color:#FFF
  .label
    margin-right: 5px
  .time
    display: inline-block
    /*.hour
    .minute
    .second*/
    .colon
      padding: 0px 2px 0px 3px
      font-weight: bold

@import 'time-cell'