.datetime-picker .calendar
  display: table
  clear: both
  cal-base()
  colors(#EEF)
  border: 0
  .weekend
    color: #A66
  .daynames
    display: table-row
    line-height: 12px
    font-weight: normal
    background: #BDF
    .name
      display: table-cell
      padding: 2px
      border-bottom: 1px solid #556
      color: #000
      text-align: center
  .week
    display: table-row

@import 'calendar-day'