pickerBorderColor = #333

closerBgColor = #444
closerColor = #CCC

// Button styles
buttonBgColor = #444
buttonColor = #CCC
buttonBorderColor = #CCC

hoveredButtonBgColor = #555
hoveredButtonColor = #DDD

// Day name styles
dayNamesBgColor = #555
dayNamesColor = #EEE

// Day styles
dayBgColor = #444
dayColor = #DDD
dayBorderColor = #CCC

hoveredDayBgColor = #777
hoveredDayColor = #DEDEDE

selectedDayBgColor = #A9A9A9
selectedDayColor = #FFF

@import 'theme/datetime-picker'