pickerBorderColor = #000

closerBgColor = #DDD
closerColor = #222

// Button styles
buttonBgColor = #EEE
buttonColor = #000
buttonBorderColor = #999

hoveredButtonBgColor = buttonBgColor
hoveredButtonColor = buttonColor

// Day name styles
dayNamesBgColor = #BDF
dayNamesColor = #000

// Day styles
dayBgColor = #EEF
dayColor = #000
dayBorderColor = #556

hoveredDayBgColor = #DEF
hoveredDayColor = #000

selectedDayBgColor = #889
selectedDayColor = #FFF

@import 'theme/datetime-picker'