.datetime-picker .timerow
  padding: 5px 0
  line-height: 21px
  border-top: 1px solid #000
  text-align: center
  background-color:#FFF
  .label
    margin-right: 5px
  .time
    display: inline-block
    line-height: @line-height
    .colon
      padding: 0px 2px 0px 3px
      font-weight: bold

@import 'time-cell'